ADMIN_BOT_TOKEN=your_admin_bot_token_here
ADMIN_CHAT_ID=your_telegram_id_here
ADMIN_CHAT_IDS=your_telegram_id_here
TEST_ADMIN_BOT_TOKEN=your_test_admin_bot_token_here
TEST_WORKER_BOT_TOKEN=your_test_worker_bot_token_here
DB_PATH=data/fleet.db
CONTACTS_PATH=data/contacts.txt
AUTO_ROTATE=true
WEBAPP_URL=https://deploy-green-beta.vercel.app
WEBAPP_PORT=8080
REMOTE_API_URL=http://31.76.101.211:5000
REMOTE_API_KEY=your_remote_api_key_here
DONOR_CHANNEL_LINK=https://t.me/+DzXXKYvdRxs3MmU6
PROFITS_CHANNEL_ID=-1004428010113
TG_API_ID=2040
TG_API_HASH=b18441a1ff607e10a989891a5462e627
